@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 94%);
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 750px;
    border-radius: 18px 18px 190px 18px;
    height: 35rem;
}

.container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    gap: 30px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 0.5px;
}

.block label {
    color: hsl(0, 1%, 44%);
    margin: 7px;
    letter-spacing: 3px;
    margin-left: 1px;
}

input {
    width: 120px;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 86%);
    display: flex;
    font-size: 35px;
    padding: 13px;
    margin: 1px;
    cursor: pointer;
    height: 40px;
    font-weight: 700;
}

input::placeholder {
    font-weight: 600;
    font-size: 30px;
    padding: 10px;
    color: hsl(0, 1%, 44%);
    text-align: left;
    margin-top: 20px;
    margin-left: 5px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input:focus {
    border-color: hsl(259, 100%, 65%);
    outline: none;
}

.bar {
    border-color: hsl(0, 0%, 100%);
    opacity: 0.5;
    width: 100%;
}

.submit-content {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.submit-content hr {
    width: 100%;
}

.submit-button {
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
    padding: 1rem;
    border: none;
    cursor: pointer;
    align-items: center;
}

.submit-button:hover {
    background-color: hsl(0, 0%, 8%);
}

.output h1 {
    font-size: 80px;
    font-weight: 900;
    font-family: 'Poppins';
    font-style: italic;
    height: 85px;
}

span {
    color: hsl(259, 100%, 65%);
    font-weight: 900;
    margin-left: 20px;
}

small {
    color: hsl(0, 100%, 67%);
    font-weight: normal;
    font-style: italic;
    height: 20px;
    margin-top: 10px;
}

@media (max-width: 375px) {
    .card {
        width: 350px;
        height: 540px;
        border-radius: 18px 18px 100px 18px;
    }

    .container {
        padding: 30px;
        margin-top: 20px;
        height: 200px;
    }

    .form-container {
        display: flex;
        gap: 18px;
    }

    .block {
        display: flex;
        flex-direction: column;
        margin: 1px;
        margin-bottom: 20px;
        gap: 2px;
    }

    .block label {
        margin: 1px;
        letter-spacing: 2px;
        font-size: 13px;
        margin-left: -5px;
    }

    input {
        width: 75px;
        font-size: 23px;
        font-weight: 800;
        padding: 5px;
        margin-left: -5px;
        height: 55px;
        padding-left: 10px;
    }

    input::placeholder {
        font-weight: 700;
        font-size: 20px;
        padding: 1px;
        padding-left: 6px;
    }

    .submit-button {
        border-radius: 50px;
        color: hsl(259, 100%, 65%);
        padding: 7px;
        margin-left: -180px;
    }

    .submit-content {
        margin-bottom: 25px;
        align-items: center;
        margin-top: 5px;
        margin: 10px 0;
    }

    .output h1 {
        font-size: 51px;
        font-weight: 900;
        height: 50px;
        margin-left: -20px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .bar {
        opacity: 1;
    }
}